{
    "arrowParens": "avoid",
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "overrides": [
        {
        "files": ["*.js", "*.jsx", "*.flow"],
        "options": {
            "parser": "flow"
        }
        }
    ]
}